
.App {
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: roboto;
  font-weight: 300;
  width: 100%;
  height: 100%;
  background-color: rgb(97, 88, 88);
  font-family: 'Titillium Web', sans-serif;
}

.container {
  margin-top: 5px;
  width: 600px;
  height: 300px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(219, 190, 23);
  border-radius: 5px;
  margin-left: 10px;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.options {
  flex-basis: 100%;
  display: flex;
  justify-content: space-evenly;
  padding:5px 10px 20px;
}

.edit-container {
  background-color: rgb(201, 198, 69);
}

input, select {
  padding: 5px;
  border-radius: 4px;
  border-color: cyan;
  
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

